<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>NGSV Console</title>

    <link type="text/css" href="/css/bootstrap.min.css" rel="stylesheet" />
    <link type="text/css" href="/css/main.css" rel="stylesheet" />

    <link rel="shortcut icon" href="/img/favicon.ico"> 

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">NGSV Console</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active">
                <a href="/">Upload</a>
              </li>
              <li>
                <a href="/viewer">Viewer</a>
              </li>
              <li>
                <a href="/help">Help</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div id="main" class="container">

      <div class="row">
        <div class="span12" style="margin-bottom: 10px;">
          <button id="sam-upload-select-btn" class="btn">Upload Sam/Bam File</button>
          <button id="bed-upload-select-btn" class="btn">Upload Bed File</button>          
        </div>
      </div>

      <div class="row">
        <div class="span12" id="new-task">
        </div>
      </div>

      <div class="row">
        <div class="span12" id="old-task">

          {% for t in tasks %}
          <div class="row">
            <div class="span12 job">
              {% if t.task_name == 'tasks.load_sam' %}

              <h3>Loading Sam/Bam</h3>

              {% if t.sam_file %}
              <dl>
                <dt>Sam/Bam file</dt><dd>{{ t.sam_file }}</dd>
              </dl>
              {% endif %}

              <div class="progress progress-striped active" style="margin-top: 10px;">
                <div class="bar" style="width: {{ t.sam_load_progress }};">{{ t.sam_load_progress }}</div>
              </div>

              {% if t.alert %}
              <div class="alert">
                {{ t.alert }}
              </div>
              {% endif %}

              {% endif %}

              {% if t.task_name == 'tasks.load_bed' %}

              <h3>Loading Bed</h3>

              {% if t.bed_file %}
              <dl>
                <dt>Bed file</dt><dd>{{ t.bed_file }}</dd>
              </dl>
              {% endif %}

              <div class="progress progress-striped active" style="margin-top: 10px;">
                <div class="bar" style="width: {{ t.bed_load_progress }};">{{ t.bed_load_progress }}</div>
              </div>

              {% if t.alert %}
              <div class="alert">
                {{ t.alert }}
              </div>
              {% endif %}

              {% endif %}
            </div>
          </div>
          {% endfor %}

        </div>
      </div>

    </div>

    {% include 'footer.html' %}

    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/format4js.js"></script>
    <script type="text/javascript" src="/js/uploader.js"></script>
    <script type="text/javascript" src="/js/console-uploader.js"></script>
  </body>
</html>
