[general]
fps = 30.0
window.width = 1024
window.height = 768
window.fullscreen = false
scale.init = 1.0
scale.min = 0.000004
scale.max = 2.0
scale.wheel_factor = 0.007
scroll.speed_eps = 0.01
scroll.mouse_speed_factor = 15.0
scroll.speed_damping_factor = 0.8
scroll.power_factor = 0.8

[cytoband]
pos_y = 100.0
height = 20.0

[ruler]
pos_y = 200.0

[bed]
pos_y = 700.0
color.fill = #AB274A

[histogram]
pos_y = 500.0
color.fill = #1C618C
color.stroke = #2E78A0